* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu ul {
    margin: 0 auto;
    width: 90%;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.menu li {
    list-style: none;
    flex: 1;
    height: 60px;
    line-height: 50px;
    background-color: #2FA6E8;
    position: relative;
    padding: 5px;
}

.menu a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    display: block;
}

.menu ul ul {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    display: none;
}

.menu li:hover {
    background-color: #000;
    cursor: pointer;
}

.menu li:hover ul {
    display: block;
}

.menu ul ul li {
    background-color: #000;
}

.menu ul ul li:hover {
    background-color: #DE4A0A;
}